/*

https://www.colorhexa.com/1a1a33 !!
https://www.colorhexa.com/333333
https://www.colorhexa.com/272a4d



*/


p, li, h1, h2, h3, h4, a {
    color: white;
}



body {
    background-color: black;
}

/*

*/



